/**/
/*css rest 开始*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
ul,ol{
    list-style: none;
}
input{
    outline: none ;
}
/*css rest 结束*/
body{
    background: #ffffff;
    font-size: 12px;
}
.wrap{
    width: 950px;
    position: relative;
    margin:0 auto;
}

/*nav 开始*/
#nav{
    height: 84px;
    background: #ffffff;
}
#logo{
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -15px;
}
#search-box{
border: 1px solid #DBE5DB;
height: 30px;
position: absolute;
left: 180px ;
top:50%;
margin-top: -15px ;
}
#ipt-search{
    width: 240px;
    height: 20px;
    font-size: 13px;
    padding: 5px;
    border: 0;
    float: left;
}
#btn-search{
    width: 30px;
    height:30px;
    border: none;
    background: url("../img/bn_srh_1.png ") no-repeat center center;
    float: left;
}
#ngt{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -10px;
}
#ngt li{
    float:left;
    margin-left: 17px;

}
#ngt a{
    display: block;
    width: 40px;
    height:20px;
    background:url("../img/anony_nav_logo.png ") no-repeat;
    text-indent: -9999px;
}
#ngt .read{
        background-position: 0 0;
}
#ngt .movie{
        background-position: -60px 0;
}
#ngt .music{
    background-position: -120px 0;
}
#ngt .group{
    background-position: -180px 0;
}
#ngt .city{
    background-position: -240px 0;
}
#ngt .fm{
    background-position: -300px 0;
}
#ngt .time{
    background: url("../img/ic_shijian_home_nav@2x.png ") center center;
}
#ngt .market{
    background-position: -420px 0;
}


/*nav 结束*/

.mask {
    width: 100%;
    height: 100%;
    background: gray  ;
    opacity: 0.6;
    filter: alpha(opacity:60);
    position:absolute;
    left: 0;
    top: 0;
    display: none;
}
.dialog {
    width: 400px;
    height: 300px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -150px;
    display: none;
}