/*banner开始*/
#back{
    height: 178px ;
    background: #edf4ed ;
}
#back .wrap{
    background:url("../img/doubanapp5.png"),
               url("../img/doubanapp5_bg.png");
    background-repeat: no-repeat;
    background-position: 50px -100px,0 0;
    height: 100%;
    overflow: hidden;
}
#back .app {
width: 200px;
margin-left: 480px;
margin-top: 32px;
}
#back .btn-download {
display: inline-block;
width: 142px;
height: 30px;
background-color: #00b51d;
color: #fff;
text-align: center ;
line-height: 30px;
 border-radius: 2px ;
 margin-bottom: 7px;
}
 #back img{
     width: 28px ;
     height: 28px;
     vertical-align: middle;
 }
 #back .app h1{
     font-size:25px;
     color: black;
     margin: 7px auto ;
 }
 #back .app p{
     font-size:12px;
     letter-spacing: 2px;
     color: #111;
     margin: 15px auto ;
 }
 #back .login-form {
     width: 272px;
     position: absolute;
     top: 32px;
     right: 0;
 }
 #back .login-form p{
     border: 1px solid #DBE5DB;
     height: 32px;
     margin: 5px auto;
 }
 #back .email ,#back .password {
     border: 0;
     width: 100%;
     height: 32px;
     text-indent: 7px;
 }
 #back .password {
     width: 230px;
 }
 #back .help {

 }
 #back .login-form .bg-fff{
     border: 1px solid #DBE5DB;
     background: #ffffff;
 }
.btn{
     width: 132px;
     border: 0;
     color: #fff;
     padding: 7px 0;
     border-radius: 2px ;
     cursor: pointer ;
 }
.btn :hover {
    opacity: 0.8;
    filter: alpha(opacity:80);
}
.btn.login{
    background: #2a8c70;
}
.btn.register{
    border: 1px solid  #2a8c70;
    background: #edf4ed ;
    color:#2a8c70 ;
    padding: 6px 0;
}
#back .other-login {
   float: right;
}
#back .other-login li{
    float: left;
    width: 14px;
    height: 12px;
    margin-right: 5px;
}
#back .other-login img {
    width: 14px;
    height: 12px;
}
#back .remember-me {
    float:left;
}
#hot .wrap {
     margin-top: 32px;
}
#hot .wrap h2{
    float: left;
}
#hot .thing {
    width: 360px;
    height: 417px;
    float: left;
}
#hot li{
    float: left;
}
#hot .pic {
    height: 189px;
    width: 170px;
    margin-left:5px ;
    margin-top: 5px;
}
#hot span {
    opacity: 0.6;
}
#hot .stc{
    height: 374px;
    width: 350px;
    float: left;
}
#hot .stc li{
    float: left;
    margin-bottom: 25px;
}
#hot .talk{
    background: green ;
    float: left;
    width: 240px;
    height: 374px;
}


