#center {
    position: absolute;
    height: 433px;
    width: 80%;
    margin: 100px 10% ;
}
#center h1{
    color: white;
}
#cloud {
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("../img/jpeg/cloudd.png") no-repeat  center center;
    margin-top: 433px;
}
#nav-left {
    width: 48%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}
#nav-left li{
    display: block;
    float: left;
    line-height: 70px;
    margin-left: 8%;
    font-size: 17px;
}
#nav-left img{
    float: left;
    width: 8%;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}
#nav-middle {
    width: 6%;
    height: 70px;
    float: left;
    background: url(../img/ps/logo.png) no-repeat center center;
    background-size: contain ;
}

#nav-right  {
    width: 48%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}

#about-me {
    width: 100%;
    height: 500px;

}
#about-left , #about-right {
    width: 49%;
    height: 500px;
    float: left;
    background: saddlebrown ;
}
#about-left {
    float: left;
}
#about-right {
    float: right;
}
.middle-border {
    width:2%;
    height: 500px;
    background: url("../img/jpeg/星星.png");
    float: left;
}

#footer {
    height: 100px;
    width: 13%;
    background: url("../img/jpeg/边框.png") no-repeat center center;
    background-size: contain ;
    float: right;
}
#footer p{
    width: 200px;
    height: 100px;
    line-height:150px;
}
