#center {
    position: absolute;
    height: 333px;
    width: 80%;
    background: seagreen ;
    margin: 100px 10% ;
}
#cloud {
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("../img/jpeg/cloudd.png") no-repeat  center center;
    margin-top: 433px;
}