body {
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
ul ol li{
    list-style: none;
}
a{
    text-decoration: none ;
}
#star{
    position: relative;
    width: 100%;
    height:733px;
    background: darkcyan ;
    background: url("../img/jpeg/timg (1).jpg ") no-repeat center center ;
    background-size: cover ;
}
#nav {
    position: absolute;
    width: 80%;
    height: 70px;
    background: white ;
    border-radius: 50px ;
    margin: 15px  10%;
}
#nav-left {
    width: 35%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}
#nav-middle {
    width: 30%;
    height: 70px;
    float: left;
}
#nav-middle .logo{
    width: 50%;
    height: 69px;
    margin: 0 auto ;
    background: url(../img/ps/logo.png) no-repeat center center;
    background-size: contain ;
}
#nav-right  {
    width: 35%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}




















