#main-middle-pic {
    width: 100%;
    height: 790px;
    background: url("../img/jpg/xingbingle.jpg") no-repeat center center;
    background-size: cover ;
    position: relative;
}

#ad {
    width: 34px;
    height: 22px;
    background: black;
    position: absolute;
    right: 20px;
    top: 30px;
    color: white;
    font-size: 13px;
    text-align: center ;
    line-height: 22px;
}
.know-more {
    width:100px;
    height: 22px;
    color: white;
    /*position: absolute;*/
    /*right: 20px;*/
    bottom: 30px;
}
#main-middle-pic .know-more {
    float: right;
    font-size: 18px;
    right: 20px;
    position: absolute;
}
#star-card {
    background: #0f0f0f  ;
    position:relative;
}
#star-card-left {
    background:url("../img/png/rewards_bg.png") no-repeat;
    width: 1140px;
    position: absolute;
}
#star-card-left-intro{
    height:220px;
    width: 50%;
    /*background: #00ff00 ;*/
    float: left;
}
#star-card-left-intro p{
    margin-top: 70px;
    color: white;
}
#star-card-club {
    width: 50%;
    height: 220px;
    float:left;
}
#star-card-club .p1{
    color: white;
    margin-top: 50px;
    text-align: left ;
}
#star-card-club .p2 {
    font-size: 16px;
    color: white;
    text-align: left ;
}
#star-card-club-button {
    width: 430px;
    height: 65px;
    margin-top: 10px;
}
.card-club-button{
    width: 110px;
    height: 50px;
    border: 3px solid #a98e67;
    display: block;
    float: left;
    margin-right: 10px;
}
.card-club-button  p{
    height: 50px;
    text-align: center ;
    line-height: 50px;
}
.card-club-button .color{
    color:#a98e67 ;
}
#star-card-club-button .know-more {
    color: #a98e67;
    font-size: 14px;
}
#phone-contact {
    background:url("../img/jpg/app_bg.gif") repeat scroll center;
    position: relative;
}

#phone-pic {
    /*position: absolute;*/
    width: 23%;
    height: 200px;
    background: url("../img/png/app_device.png") no-repeat  center center;
    background-size: contain;
    margin-top: 20px;
    float: left;
}
#phone-contact .wrap {
    position: relative;
    margin: 0 auto ;
}
#phone-contact-right {
    width: 45%;
    height: 88px;
    margin-top: 60px;
    /*position: absolute;*/
    float: left;
}
#phone-contact-right .know-more{
    color: #a98e67;
    font-size: 14px;
    float: left;

}
#phone-pic-square {
    width: 20%;
    height: 209px;
    margin: 10px 30px 0 30px;
    /*position: absolute;*/
    float: left;
}
#phone-contact-right p{
    font-size: 23px;
    text-align: left ;
}
#moon-cake {
    width: 100%;
}
#moon-cake img{
    width: 100%;
    display: block;
}
#app-download {
    width: 130px;
    height: 130px;
    background: url("../img/png/app_qr_20170209.png") no-repeat center center;
    background-size: contain ;
}
#app-download-button{
    height: 76px;
    /*background-color: #2a8c70;*/
}
#app-download-button p{
    border-left: 1px solid black;
    float: right;
    font-size: 12px;
}

#TM-shop {
    width: 100%;
    background: pink;
    position: relative;
    overflow: hidden;
}

#TM-shop  img{
    width: 50%;
    display: block;
    float: left;
}
#TM-shop .TM-shop-letter1 {
    position: absolute;
    height: 80px;
    width: 50%;
    text-align: center;
    bottom: 0;

}
#TM-shop .TM-shop-letter2 {
    position: absolute;
    height: 80px;
    width: 50%;
    text-align: center;
    bottom: 0;
    right:0;
}
#TM-shop h2{
    color: white;
}
#TM-shop h3{
    color: #a98e67;
    font-size: 13px;
}
#wsg-line {
    height: 222px;
    width: 100%;
    background:#106e4b;
    position: relative;
}

#wsg-line-container {
    left: 25%;
    height: 222px;
    width: 767px;
    /*background: #0f0f0f;*/
    position: absolute;
}
#wsg-line-container .team {
    width: 50%;
    height: 150px;
    /*background: goldenrod ;*/
    float: left;
    display: block;
    margin-top: 36px;
}
#say-star {
    height: 100px;
    width: 50%;
    background: url("../img/png/wsg-title.png") no-repeat ;
    background-size: contain;
    float: left;
    margin-top: 25px;
}
#app-down-pic {
    height: 125px;
    width: 50%;
    background: url("../img/png/wsg-qrcode.png") no-repeat center ;
    float: left;

}

#cup {
    height: 150px;
    width: 50%;
    background: url("../img/png/wsg-cup.png") no-repeat ;
    background-size: contain ;
    float: left;
}
#long-word {
    height: 100px;
    width: 50%;
    background: url("../img/png/wsg-wording.png ") no-repeat ;
    background-size: contain;
    float: left;
    margin-top: 25px;
}
#white-line {
    width: 100%;
    height: 220px;
    background: url("../img/png/web-bg.png");
    position: relative;
}
#two-big-phone {
    width: 35%;
    height: 220px;
    background: firebrick ;
    background: url("../img/png/web-iwatch-cn.png") no-repeat ;
    float: left;
}
#intro-it {
    width: 30%;
    float: left;
    margin: 35px 68px 0 68px;
}
#green-button {
    height: 70px;
    width: 200px;
    background: url("../img/svg/udp-starbucks-cn.svg ") no-repeat ;
    margin: 0 auto ;
    display: none;
}
#intro-it p{
    font-size: 15px;
}
#intro-it .know-more {
    font-size: 12px;
    color: #a98e67;
}
#watch-download-square {
    width: 20%;
    height: 270px;
    float: left;
    margin-top: 35px;
}
#watch-download {
    width: 130px;
    height: 130px;
    background:url("../img/png/app_qr_20170209.png") no-repeat;
    background-size: contain ;

}
#watch-download-square p{
    width: 130px;
    height: 20px;
    font-size: 15px;
    text-align: center ;
}
#star-buck-choose {
    position: relative;
    background:#f5f5f5;
    height: 484px;
    padding: 80px 16px ;
}
#star-buck-choose p:first-child {
    font-size: 30px;
    margin: 20px auto ;
}
#star-buck-choose p:nth-child(2){
    font-size: 18px;
    color: #8B8B8B;
    margin-bottom: 80px;
}
.title-letter{
    width: 100%;
    text-align: center;
}
#collection {
    height: 310px;
    width: 80%;
    /*background: darkolivegreen ;*/
    margin: 0 auto ;
}
#collection .collection-square{
    width: 20%;
    height: 280px;
    float:left;
    margin: 15px 25px ;
}
#collection .pic-box-square {
    height: 160px;
    /*background: darkcyan;*/
}
#collection .collection-square .pic1{
    background: url("../img/png/1@2x.png.jpeg") no-repeat ;
    background-size: cover ;
    width: 100%;
}
#collection .collection-square .pic2 {
    background: url("../img/png/2@2x.png.jpeg") no-repeat ;
    background-size: cover  ;
}
#collection .collection-square .pic3 {
    background: url("../img/png/3@2x.png") no-repeat ;
    background-size: cover ;
}
#collection .collection-square .pic4 {
    background: url("../img/png/4@2x.png.jpeg") no-repeat ;
    background-size: cover ;
}
.pic-box-square-box {
    height: 120px;
    width: 15.5%;
    position: absolute;
    /*background: salmon ;*/
    border-bottom: 1px solid #707175;
    border-left: 1px solid #707175;
    border-right: 1px solid #707175;
}
#collection .collection-square b{
    display: block;
    margin-top: 15px;
    color: #0f0f0f;
    margin-bottom: 10px;

}
#collection .collection-square p{
    font-size: 14px;
    color: #707175;
}
#black-coffee {
    position: relative;
    width: 100%;
    height: 550px;
    background: #060608;
    padding: 40px 0;
}
#black-coffee .black-coffee-wrap {
    height: 528px;
}
#black-coffee-pic {
    width: 50%;
    float: left;
}

#black-coffee-letter {
    width: 50%;
    float: left;
    margin-top: 15%;
    text-align: center ;
}
#black-coffee-letter img{
    margin-top: 0;
}
#black-coffee-letter h3{
    width: 100%;
    color: #a98e67;
    font-size: 18px;
    margin-bottom: 13px;
}
#black-coffee-letter .black-coffee-p {
    width: 100%;
    font-size: 18px;
    color: #707070;
    margin-bottom: 14px;
    word-break: break-all;
}
#black-coffee-button {
    width: 100%;
    margin-top: 32px;
    height: 70px;
}
#black-coffee-button .card-club-button {
    width: 25%;
    margin-left: 10%;
}
#page-footer {
    background: #292929 ;
    position: relative;
    padding: 60px 0 20px ;
}
#reply-line {
    display: none;
}
.page-footer-line {
    height: 220px;
    margin-bottom: 80px;
}
.page-footer-line a{
    color: #707070
}
.page-footer-line h5{
    color: white;
}
.page-footer-box {
    float: left;
    width: 25%;
    height: 220px;
}
.footer-title {
    font-size: 18px;
    text-align: left ;
}
.footer-box a{
    text-align: left ;
    margin-top: 10px;
    font-size: 15px;
    display: block;
    font-weight: 300;
}
#app-pic {
    height: 100px;
    width: 100px;
    background: url("../img/png/app_qr_20170209.png");
    background-size: contain ;
}
.page-footer-box p{
    width: 100px;
    font-size: 12px;
    text-align:center;
}
#footer-bottom {
    font-size: 12px;
    height: 50px;
    text-align: left ;
}
#i-don-know {
    float: left;
    color: #A3A3A3;
}
#footer-bottom a{
    display: block;
}
#footer-bottom img{
    height: 15px;
    width: 15px;
}
#app-pic-circle {
    float:right;
    /*background: burlywood ;*/
    margin-top: 10px;
    width: 200px;
}
.app {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 20px;
}
#app-pic-circle .app:first-child{
    background: url("../img/svg/weibo.svg") no-repeat;
    background-size: contain ;
}
#app-pic-circle .app:last-child {
    background: url("../img/svg/wechat.svg") no-repeat ;
    background-size: contain ;
}



