#main-middle-pic {
    width: 100%;
    height: 790px;
    background: url("../img/jpg/xingbingle.jpg") no-repeat center center;
    background-size: cover ;

}

#ad {
    width: 34px;
    height: 22px;
    background: black;
    color: white;
    float: right;
    margin-right: 20px;
    font-size: 13px;
    text-align: center ;
    line-height: 22px;
}
.know-more {
    width:100px;
    height: 22px;
    color: white;
}
#main-middle-pic .know-more {
    float: right;
    margin-top: 750px;
    font-size: 18px;
}
#star-card {
    height: 220px;
    background: #0f0f0f  ;
    position:relative;
}
#star-card .wrap {
    background:url("../img/png/rewards_bg.png") no-repeat 150px ;
}
#star-card-left {
    width: 260px;
    height: 220px;
    margin-left: 250px;

    position: absolute;
}
#star-card-left-intro{
    height: 80px;
    width: 200px;
    /*background: #00ff00 ;*/
    margin: 70px 20px;
    float: left;
}
#star-card-left-intro p{
    color: white;
}
#star-card-club {
    width: 430px;
    height: 220px;
    /*background: powderblue ;*/
    margin-left: 300px;
    position: absolute;
}
#star-card-club p{
    color: white;
}
#star-card-club .p1{
    margin-top: 50px;
}
#star-card-club .p2 {
       font-size: 16px;
}
#star-card-club-button {
    width: 430px;
    height: 65px;
    /*background: cornflowerblue ;*/
    margin-top: 10px;
}
#star-card-club-button  .card-club-button{
    width: 110px;
    height: 50px;
    border: 3px solid #a98e67;
    display: block;
    float: left;
    margin-right: 10px;
}
#star-card-club-button p{
    color:#a98e67 ;
    text-align: center ;
    line-height: 50px;
}
#star-card-club-button .know-more {
    line-height: 65px;
    color: #a98e67;
    font-size: 14px;
}
#phone-contact {
    height: 220px;
    background:url("../img/jpg/app_bg.gif") repeat scroll center;
    position: relative;
}

#phone-pic {
    width: 350px;
    height: 200px;
    background: url("../img/png/app_device.png") no-repeat  center center;
    display: block;
    background-size: contain;
    margin-top: 20px;
    float: left;
}
#phone-contact-right {
    width: 450px;
    height: 88px;
    /*background: blueviolet ;*/
    float:left;
    margin-top: 66px;
}
#phone-contact-right .know-more{
    color: #a98e67;
}
#phone-pic-square {
    width: 242px;
    height: 209px;
    /*background:peru ;*/
    float: left;
    margin: 10px 30px 0 60px;
}
#phone-contact-right p{
    font-size: 23px;
}
#phone-contact-right .know-more {
    font-size: 14px;
    margin-bottom: 0;
}
#app-download {
    width: 130px;
    height: 130px;
    background: url("../img/png/app_qr_20170209.png") center center;
    background-size: contain ;
}
/*.app-download-buttons-btn {*/
    /*font-family:"icon";*/
    /*color: #999999;*/
    /*font-size: 17px;*/
    /*margin-right: 8px;*/
/*}*/
#app-download-button{
    width: 242px;
    height: 76px;
    /*background-color: #2a8c70;*/
}
#app-download-button p{
    margin-top:23px ;
    border-left: 1px solid black;
    float: right;
    font-size: 12px;
}
#moon-cake {
    position: relative;
}
#moon-cake img{
    max-width: 100%;
}
#TM-shop {
    height: 760px;
    background: pink;
    position: relative;
}
#left-img ,#right-img {
    width: 50%;
    height: 760px;
}
#left-img {
    float: left;
}
#right-img {
    float: left;
background: forestgreen ;
}
#left-img img{
    height: 760px;
    max-width: 100%;
}
#right-img img{
    height: 760px;
    max-width: 100%;
}
.TM-shop-letter {
    position: absolute;
    height: 80px;
    width: 50%;
    text-align: center;
    bottom: 0;
}
.TM-shop-letter h2{
    color: white;

}
.TM-shop-letter h3{
    color: #a98e67;
    font-size: 13px;
}
#wsg-line {
    height: 222px;
    width: 100%;
    background:#106e4b;
    position: relative;
}

#wsg-line-container {
    margin: 0 auto ;
    left: 300px;
    height: 222px;
    width: 767px;
    /*background: #0f0f0f;*/
    position: absolute;
}
#wsg-line-container .team {
    width: 50%;
    height: 150px;
    /*background: goldenrod ;*/
    float: left;
    display: block;
    margin-top: 36px;
}
#say-star {
    height: 100px;
    width: 50%;
    background: url("../img/png/wsg-title.png") no-repeat ;
    background-size: contain;
    float: left;
    margin-top: 25px;
}
#app-down-pic {
    height: 125px;
    width: 125px;
    background: url("../img/png/wsg-qrcode.png") no-repeat ;
    float: left;
    margin-left: 30px;
    margin-top: 12px;
}

#cup {
    height: 150px;
    width: 50%;
    background: url("../img/png/wsg-cup.png") no-repeat ;
    background-size: contain ;
    float: left;
}
#long-word {
    height: 100px;
    width: 50%;
    background: url("../img/png/wsg-wording.png ") no-repeat ;
    background-size: contain;
    float: left;
    margin-top: 25px;
}
#white-line {
    width: 100%;
    height: 220px;
    background: url("../img/png/web-bg.png");
    position: relative;
}
#two-big-phone {
    width: 408px;
    height: 220px;
    background: firebrick ;
    background: url("../img/png/web-iwatch-cn.png");
    margin-left: 100px;
    float: left;
}
#intro-it {
    width: 344px;
    float: left;
    margin: 35px 68px 0 68px;
}
#intro-it p{
    font-size: 15px;
}
#intro-it .know-more {
    font-size: 12px;
    color: #a98e67;
}
#watch-download-square {
    width: 150px;
    height: 270px;
    float: left;
    margin-top: 35px;
}
#watch-download {
    width: 130px;
    height: 130px;
    background:url("../img/png/app_qr_20170209.png") no-repeat;
    background-size: contain ;

}
#watch-download-square p{
    width: 130px;
    height: 20px;
    font-size: 15px;
    text-align: center ;
}
#star-buck-choose {
    position: relative;
    background:#f5f5f5;
    height: 484px;
    padding: 80px 16px ;
}
#star-buck-choose p:first-child {
    font-size: 30px;
    margin: 20px auto ;
}
#star-buck-choose p:nth-child(2){
    font-size: 18px;
    color: #8B8B8B;
    margin-bottom: 80px;
}
.title-letter{
    width: 100%;
    text-align: center;
}
#collection {
    height: 310px;
    width: 100%;
    /*background: darkolivegreen ;*/
}
#collection .collection-square{
    width: 240px;
    height: 280px;
    /*background: fuchsia;*/
    float:left;
    margin: 15px 15px;
}
#collection a:first-child {
    margin-left: 11%;
}
#collection .pic-box-square {
    height: 160px;
    /*background: darkcyan;*/
}
#collection .collection-square .pic1{
    background: url("../img/png/1@2x.png.jpeg") no-repeat ;
    background-size: contain ;
}
#collection .collection-square .pic2 {
    background: url("../img/png/2@2x.png.jpeg") no-repeat ;
    background-size: contain ;
}
#collection .collection-square .pic3 {
    background: url("../img/png/3@2x.png") no-repeat ;
    background-size: contain ;
}
#collection .collection-square .pic4 {
    background: url("../img/png/4@2x.png.jpeg") no-repeat ;
    background-size: contain ;
}
#collection .collection-square b{
    display: block;
    margin-top: 15px;
    color: #0f0f0f;

}
#collection .collection-square p{
    font-size: 14px;
    color: #707175;
    border-bottom: 1px solid black;
}