@media(max-width){
    .wrap {
        width: 100%;
    }
    #nav {
        width: 100%;
    }
    #menu-bar-menu {
        width: 39%;
    }
    #menu-bar-holder {
        width: 39%
    }
    #logo{
        width: 22%;
    }
    #reg{
        width: 39%
    }
    #menu-bar-login {
        width: 39%;
    }
    #register {
        width: 39%;
    }
    #main-middle-pic {
        width: 100%;
        height: 0;
        padding-top: 57.2%;
    }
    #star-card {
        width: 100%;
    }
    .wrap {
        width: 100%;
    }
    #star-card-left {
        width: 100%;
    }
    #star-card-left-intro ,#star-card-club {
        width: 50%;
    }
    #star-card-club .p1,.p2{
      text-align: left ;
    }
    #tm-shop{
        width: 100%;
    }
    #left-img ,#right-img {
        width: 50%;
    }
    #TM-shop {
        width: 100%;
    }
    #TM-shop img{
        width: 100%;
        display: block;
    }
}

@media(max-width:980px) {
    #nav {
        width: 100%;
    }

    #menu-bar-menu {
        width: 39%;
    }

    #menu-bar-holder {
        width: 39%
    }

    #logo {
        width: 22%;
    }

    #reg {
        width: 39%
    }

    #menu-bar-login {
        width: 39%;
    }

    #register {
        width: 39%;
    }
    #register span{
        font-size: 10px;
    }
    #register a{
        font-size: 10px;
    }
    #main-middle-pic {
        background-image: url(../img/jpg/xingbingle2.jpg )
    }
    #star-card {
        width: 100%;
    }
    .wrap {
        width: 100%;
    }
    #star-card-left {
        width: 100%;
    }
    #star-card-left-intro ,#star-card-club {
        width: 50%;
    }
    #star-card-club .p1,.p2{
        text-align: left ;
    }
    #tm-shop{
        width: 100%;
    }
    #left-img ,#right-img {
        width: 50%;
    }
    #TM-shop {
        width: 100%;
        /*height: 0;*/
    }
    #TM-shop img{
        width: 100%;
        display: block;
    }
}
@media (max-width: 935px) {
    #star-card {
        width: 100%;
        height: 440px;
    }
    .wrap {
        width: 100%;
        height: 440px;
    }
    #star-card-left {
        width: 100%;
        height: 440px;
    }
    #star-card-left-intro ,#star-card-club {
        width: 100%;
    }
    #star-card-club .p1{
        margin-top: 0;
     text-align: center ;
    }
    #star-card-club .p2{
        margin-top: 0;
        text-align: center ;
    }
    #star-card-club-button {
        width: 50%;
        height: 170px;
        margin: 0 auto ;
    }
    #star-card-club-button .card-club-button {
        width: 100%;
        height: 35px;
        margin-top: 10px;
    }
    #star-card-club-button p{
        line-height: 35px;
    }
}